doctype html
html(
	lang="en"
	data-is-debug="#{isDebug}"
	data-revision="#{revision}"
	data-static-dir=staticDir()
)
	head
		meta(charset="utf-8")
		title Metachronica Murderer Game
		link(
			rel="stylesheet"
			type="text/css"
			href=staticFile('css/build/main.css')
		)
		if isDebug
			script(src=staticFile("js/prelude.js"))
			script(
				src=staticFile("js/require.js")
				data-main=staticFile("js/build/main.js")
			)
		else
			script(src=staticFile("js/prelude-min.js"))
			script(
				src=staticFile("js/require.min.js")
				data-main=staticFile("js/build/main.js")
			)
	body
		block content
